.nr {
    margin: 0 30vw;
    text-align: center;
}

.nr h1 {
    margin-bottom: 0.5rem;
}

.nr a {
    color: #888888;
}

.nr img {
    max-width: 100%;
}

@media screen and (max-width:991px) {
    .nr{
        margin: 0;
        padding: 0 2rem;
    }
}

.inner {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}
