ul {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}


h4 {
    font-family: ProductSans !important;
    font-size: 18px;
    font-weight: bold;
    color: black !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5vh 30vw;
}

.content p {
    line-height: 30px;
}

.content h1 {
    font-size: 48px;
}

.content h2 {
    font-size: 28px;
}

.sources {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 150px;
}
@media screen and (max-width:1100px) {
    .content{
        padding: 2rem 2rem;
        max-width: 800px;
        margin: auto;
    }
}
@media screen and (max-width:767px) {
    .sources{
        gap: 20px;
        flex-wrap: wrap;
    }
}