h1 {
    font-size: 40px;
    margin: 5vh 0;
}

h4 {
    font-family: ProductSans !important;
    font-size: 24px;
    font-weight: bold;
    color: black !important;
}

.projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    max-width: 1240px;
    margin: auto;
}

.projectCard {
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    gap: 40px;
    margin-bottom: 5vh;
    transition: all 0.3s ease-in-out;
} 

.projectCard img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.linkProject {
    text-decoration: none;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.languages img {
    height: 40px;
    width: auto;
    border-radius: 0;
}

.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 50px;
}

.projectContent h3 {
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}
@media (max-width:767px) {
    
    .projectContent{
        margin: 2rem 0 0;
    }
    .languages{
        padding: 0;
    }
    .projets{
        padding: 0 1rem 2rem;
    }
    .projets p{
        margin: 0 !important;
    }
    .projectContent p{
        margin: 1rem 0 !important;
    }
    .projectCard{
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        padding: 1rem;
    }
    .projectCard img{
        width: 100%;
    }
    .linkProject{
        margin-top:2rem;
    }
    .languages img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
}