/* /src/app/contact/style.css */
.contactLogos {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.logo {
    height:50px;
}

.photoProfil {
    width: 300px;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 .6032302072222955px 3.0161510361114776px -.3333333333333333px #00000005,0 2.290210571630906px 11.45105285815453px -.6666666666666666px #00000009,0 10px 50px -1px #00000014;
    transform: rotate(-3deg) perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(-3deg) rotateX(0deg) rotateY(0deg) translateZ(0px);
}

.photoProfil img {
    width: 100%;
    border-radius: 40px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 20vh auto;
    max-width: 1140px;
    padding: 0 1.5rem;
}

.contactContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}

.contactContent h2 {
    margin: 0;
}
@media screen and (max-width:767px) {
    .contact{
        flex-wrap: wrap;
        margin:1rem 0;
        padding: 0 1rem;
    }
    .contactContent{
        width: 100%;
    }
    .contactLogos{
        gap: 10px;
    }
}