@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default Style */

body {
    margin: 0
}
*{
    box-sizing: border-box;
}

h1 {
    font-family: ProductSans;
    font-size: 55px;
    font-style: normal;
    color: #111111;
    text-align: center;
    line-height: 80px;
}

.landing h1 {
    font-family: ProductSans;
    font-size: 72px;
    font-style: normal;
    color: #111111;
    text-align: center;
    line-height: 80px;
}

h2 {
    font-family: ProductSans;
    font-weight: bold;
    font-size: 42px;
    font-style: normal;
    color: #111111;
}

h3 {
    font-family: ProductSans;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    color: #001122;
}

h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    color: #888888;
}

h5 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

a:visited {
    color: inherit;
}

/* Button style */

.button {
    background-color: rgb(34, 34, 34);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.707995px 0.707995px -0.625px, rgba(0, 0, 0, 0.145) 0px 1.80969px 1.80969px -1.25px, rgba(0, 0, 0, 0.137) 0px 3.62052px 3.62052px -1.875px, rgba(0, 0, 0, 0.125) 0px 6.87063px 6.87063px -2.5px, rgba(0, 0, 0, 0.106) 0px 13.6444px 13.6444px -3.125px, rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
    opacity: 1;
    padding: 10px 20px;
    color: white !important;
    font-family: Montserrat;

    font-size: 100%;
    transition: 0.5s;
}

.button {
    display: inline-block;
    white-space: nowrap;
}

.button:hover {
    /* transform: rotate3d(0, 0, 1, 5deg) scale(1.05); */
    font-size: 110%;
    transition: 0.5s;
}

.button:link {
    text-decoration: none;
}

/* Header Section */

.header p {
    font-family: ProductSans;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: #111111;
}

.header a:link {
    color: #666666;
    font-family: Montserrat;
    text-decoration: none;
}

.header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.08);
}

.header  .nav-links .button{
    padding: 10px 20px !important;
}

/* Landing Section */

.landing {
    padding: 5vh 0;
}

/* Experiences section */

.experiences {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1200px;
}

.XP {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
}

.singleXP {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0vh 5vw;
}

.experiences img {
    border-radius: 16px;
    width: 50%;
    height: 350px;
    object-fit: cover;
}

.contentRight p,
.contentLeft p {
    width: 50%;
    padding-bottom: 2vh;
}

.contentRight {
    padding-left: 5vw;
}

.contentLeft {
    padding-right: 5vw;
}

/* Project sections */

/* 1) Le wrapper principal devient une colonne */
.projets {
    display: flex;
    flex-direction: column;
    align-items: center;    /* centre horiz. le contenu (cards + bouton) */
    gap: 5vh;               /* espace vertical entre la grille et le bouton */
    margin-bottom: 6vh;     /* espace sous toute la section */
  }
  
/* 2) La grille 3‑colonnes ne concerne QUE .cards */
.projets .cards {
    display: grid;
    /* 3 colonnes fixes à 22vw */
    grid-template-columns: repeat(3, 22vw);
    gap: 1vw;
    /* centre la grille dans son conteneur */
    justify-content: center;
    /* on enlève width:100% s’il est présent */
  }
  

/* 3) Le bouton est un bloc centré */
.projets > .button {
    display: block;         /* plein‑largeur auto pour pouvoir faire margin auto */
    margin: 0 auto;         /* centre horiz. */
    /* pas besoin de grid-row ni de grid-column ici */
}

  
  

.card img {
    aspect-ratio: 16/9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 22vw;
    object-fit: cover;
}

.cardDetail {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 22vw;
}

.cardDetail * {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1vh;
}
/* 1. Assurer que .cardDetail ne dépasse jamais sa boîte */
.cardDetail {
    width: 22vw;          /* comme vous l’avez */
    max-width: 100%;      /* ne dépasse pas 100% de son parent */
    box-sizing: border-box;
}
  
/* 2. Forcer le retour à la ligne sur les mots trop longs */
.cardDetail h3,
.cardDetail p {
    overflow-wrap: break-word;   /* nouvelle syntaxe */
    word-break: break-word;      /* assure le découpage si besoin */
    hyphens: auto;               /* trait d’union automatique si pris en charge */
}


.cardDetail .button {
    max-width: fit-content;
    margin-left: 40px;
    margin-bottom: 20px;
}

.card {
    
    transform: scale(1.0);
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.707995px 0.707995px -0.625px, rgba(0, 0, 0, 0.145) 0px 1.80969px 1.80969px -1.25px, rgba(0, 0, 0, 0.137) 0px 3.62052px 3.62052px -1.875px, rgba(0, 0, 0, 0.125) 0px 6.87063px 6.87063px -2.5px, rgba(0, 0, 0, 0.106) 0px 13.6444px 13.6444px -3.125px, rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
}

.card a {
    text-decoration: none;
}


/* Skills section */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skills h1 {
    line-height: 0px;
}

.skills h2 {
    text-align: center;
    letter-spacing: 0.3em;
}

.logo {
    width: auto;
    height: 80px;
    object-fit: cover;
}

.logos {
    margin-top: 3vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 70px;
    max-width: fit-content;
}

/* Footer section */

.footer {
    background-color: #222222;
    margin-top: 10vh;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* Article Section */
.article {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    /* width: 22vw; */
}

.articleDetail {
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    position: absolute;
    bottom: 0.5%;
    left: 0%;
    color: white !important;
    font-weight: bold;
    padding: 0 20px;
}

.articleDetail h3 {
    color: white;
}

.multiArticles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.multiArticles.two-column {
    justify-content: center;
}
.multiArticles.two-column .singleArticle{
    max-width: 320px;
}

.article img {
    border-radius: 10px;
    aspect-ratio: 16/9;
    width: 100%;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    
    /* margin-bottom: 4vh; */
    background-color: #F7F7F7;
}

.articles h1 {
    margin-bottom: 0;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
}

.singleArticle {
    transform: scale(1.0);
    transition: 0.5s;
}

.singleArticle:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}


.footer p {
    color: white !important;
}
/*------------------Navigation-----*/
.nav {
    height: 50px;
    width: 100%;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #111111;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  

  @media (max-width:991px) {
    .XP{
        flex-wrap: wrap;
    }  
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
        padding: 1rem;
      display: block;
      width: 100%;
      color: #fff;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      z-index: 1;
    }
  }
@media (max-width:800px) {
    .XP .experiences .singleXP{ flex-wrap: wrap; text-align: center; justify-content: center;}
    /* .contentLeft{padding-right: 0; margin-bottom: 2rem;}
    .projets a{
        box-sizing: border-box;
    } */
    /* .projets{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
    } */
    .card{
        flex:0 0 90%;
    }
    .cardDetail, .card img{
        width: 100%;
    }
    .article{
        width: 100%;
    }
}
@media (max-width:767px) {
    .landing h1{
        font-size: 50px;
        white-space: pre-wrap
    }
    .landing{
        padding: 2rem 1rem;
    }
    .landing h1 br{display: none;}
    h1{
        font-size: 40px;
    }
    .multiArticles{
        flex-wrap: wrap;
    }
    .experiences img{
        width: 100%;
    }
    .singleXP{
        flex-wrap: wrap;
    }
    .articles{
        padding: 0 1vw;
    }
    /* .projets{
        gap: 20px;
        padding: 0 1rem;
    } */
    .cardDetail, .card img{
        width: 100%;
    }
    .article{
        width: 100%;
    }
    h2{
        font-size: 30px;
    }
    .logo{
        height: 40px;
    }
    .article img{

        width: 100%;
    }
    .skills{
        padding: 0 1rem;;
    }
    .footer{
        padding: 1.5rem 1rem;
    }
    .quote {
        margin: 3vh 6vw;
    }
}